In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("HAM10000_metadata")

In [4]:
df

,lesion_id,image_id,dx,dx_type,age,sex,localization,dataset
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,vidir_modern
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,vidir_modern
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,vidir_modern
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,vidir_modern
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,vidir_modern
...,...,...,...,...,...,...,...,...
10010,HAM_0002867,ISIC_0033084,akiec,histo,40.0,male,abdomen,vidir_modern
10011,HAM_0002867,ISIC_0033550,akiec,histo,40.0,male,abdomen,vidir_modern
10012,HAM_0002867,ISIC_0033536,akiec,histo,40.0,male,abdomen,vidir_modern
10013,HAM_0000239,ISIC_0032854,akiec,histo,80.0,male,face,vidir_modern
10014,HAM_0003521,ISIC_0032258,mel,histo,70.0,female,back,vidir_modern

In [5]:
image_id = df['image_id'].tolist()

In [7]:
dx = df['dx'].tolist()

In [9]:
image_id[0]

'ISIC_0027419'

In [23]:
mv_cmd = []
for i in range(len(image_id)):
    cmd = "mv "+image_id[i]+".jpg"+" "+dx[i]+"/"
    mv_cmd.append(cmd)

In [24]:
with open('listfile.txt', 'w') as filehandle:
    for listitem in mv_cmd:
        filehandle.write('%s\n' % listitem)

In [22]:
print(set(dx))

{'nv', 'df', 'bcc', 'akiec', 'mel', 'bkl', 'vasc'}